* {
	margin: 0;
	padding: 0;
}
#root {
	background-color: #fffff2;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	color: #333;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
}
body {
	width: 100vw;
	height: 100vh;
}
h1 {
	font-family: 'Unbounded', sans-serif;
	font-size: 4rem;
	color: #333;
}
h2 {
	font-family: 'Unbounded', sans-serif;
	font-size: 2rem;
	color: #666;
}
